@keyframes circle-one {
	0% {
		top: 9%;
		left: 79%
	}
	20% {
		top: 9%;
		left: 89%
	}
	40% {
		top: 10%;
		left: 82%
	}
	60% {
		top: 14%;
		left: 85%
	}
	80% {
		top: 11%;
		left: 88%
	}
	100% {
		top: 9%;
		left: 79%
	}
}

.circle-one {
  position: absolute;
  top: 5%;
  left: 90%;
  width: 7vw; 
  height: 7vw; 
  animation: circle-one 45s ease-in-out infinite;
  z-index: 1;
}

@keyframes cross-one {
	0% {
		top: 11%;
		left: 31%
	}
	33% {
		top: 11%;
		left: 10%
	}
	67% {
		top: 40%;
		left: 9%
	}
	100% {
		top: 11%;
		left: 31%
	}
}

.cross-one {
    position: absolute;
    top: 15%;
    left: 16%;
    width: 12vw;
    height: 12vw;
    animation: cross-one 45s ease-in-out infinite;
    z-index: 1;
}

@keyframes cross-two {
	0% {
		top: 23%;
		left: 51%
	}
	33% {
		top: 53%;
		left: 71%
	}
	67% {
		top: 34%;
		left: 54%
	}
	100% {
		top: 23%;
		left: 51%
	}
}

.cross-two {
    position: absolute;
    top: 15%;
    left: 16%;
    width: 17vw;
    height: 17vw;
    animation: cross-two 45s ease-in-out infinite;
    z-index: 1;
}

@keyframes circle-two {
	0% {
		top: 73%;
		left: 19%
	}
	33% {
		top: 72%;
		left: 39%
	}
	67% {
		top: 30%;
		left: 43%
	}
	100% {
		top: 73%;
		left: 19%
	}
}

.circle-two {
    position: absolute;
    top: 15%;
    left: 16%;
    width: 5vw;
    height: 5vw;
    animation: circle-two 45s ease-in-out infinite;
    z-index: 1;
}