/* Globální styl pro scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Šířka scrollbaru */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Barva pozadí dráhy scrollbaru */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Barva posuvníku */
    border-radius: 10px; /* Zaoblení rohů */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Barva posuvníku při najetí myší */
  }